<a href="https://colab.research.google.com/github/FranciscaJerezC/ProyectoEstructura/blob/master/proyectoIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_crimes = pd.read_csv('crimes.csv', encoding = "ISO-8859-1", header=None)

In [4]:
df_crimes.head()

,0,1,2,3,4,5,6
0,T11,Intentional homicides and other crimes,NaN,NaN,NaN,NaN,NaN
1,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
2,1,"Total, all countries or areas",2005,"Intentional homicide rates per 100,000",6.3,Estimate.,United Nations Office on Drugs and Crime (UNOD...
3,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,10.1,NaN,United Nations Office on Drugs and Crime (UNOD...
4,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,2.4,NaN,United Nations Office on Drugs and Crime (UNOD...

In [5]:
df_crimes.columns = ['Region/Country/Area', 'Nan', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
df_crimes

,Region/Country/Area,Nan,Year,Series,Value,Footnotes,Source
0,T11,Intentional homicides and other crimes,NaN,NaN,NaN,NaN,NaN
1,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
2,1,"Total, all countries or areas",2005,"Intentional homicide rates per 100,000",6.3,Estimate.,United Nations Office on Drugs and Crime (UNOD...
3,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,10.1,NaN,United Nations Office on Drugs and Crime (UNOD...
4,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,2.4,NaN,United Nations Office on Drugs and Crime (UNOD...
...,...,...,...,...,...,...,...
3738,716,Zimbabwe,2008,"Assault rate per 100,000 population",414.0,NaN,United Nations Office on Drugs and Crime (UNOD...
3739,716,Zimbabwe,2008,"Kidnapping at the national level, rate per 100...",1.8,NaN,United Nations Office on Drugs and Crime (UNOD...
3740,716,Zimbabwe,2008,"Theft at the national level, rate per 100,000 ...",738.8,NaN,United Nations Office on Drugs and Crime (UNOD...
3741,716,Zimbabwe,2010,"Intentional homicide rates per 100,000",5.6,NaN,United Nations Office on Drugs and Crime (UNOD...
3742,716,Zimbabwe,2012,"Intentional homicide rates per 100,000",7.5,NaN,United Nations Office on Drugs and Crime (UNOD...

In [7]:
df_crimes.head()

,Region/Country/Area,Nan,Year,Series,Value,Footnotes,Source
0,T11,Intentional homicides and other crimes,NaN,NaN,NaN,NaN,NaN
1,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
2,1,"Total, all countries or areas",2005,"Intentional homicide rates per 100,000",6.3,Estimate.,United Nations Office on Drugs and Crime (UNOD...
3,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,10.1,NaN,United Nations Office on Drugs and Crime (UNOD...
4,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,2.4,NaN,United Nations Office on Drugs and Crime (UNOD...

In [9]:
df_crimes = df_crimes.drop(0)
df_crimes.head()

,Region/Country/Area,Nan,Year,Series,Value,Footnotes,Source
1,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
2,1,"Total, all countries or areas",2005,"Intentional homicide rates per 100,000",6.3,Estimate.,United Nations Office on Drugs and Crime (UNOD...
3,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,10.1,NaN,United Nations Office on Drugs and Crime (UNOD...
4,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,2.4,NaN,United Nations Office on Drugs and Crime (UNOD...
5,1,"Total, all countries or areas",2010,"Intentional homicide rates per 100,000",6.0,Estimate.,United Nations Office on Drugs and Crime (UNOD...

In [10]:
df_crimes = df_crimes.drop(1)
df_crimes.head()

,Region/Country/Area,Nan,Year,Series,Value,Footnotes,Source
2,1,"Total, all countries or areas",2005,"Intentional homicide rates per 100,000",6.3,Estimate.,United Nations Office on Drugs and Crime (UNOD...
3,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,10.1,NaN,United Nations Office on Drugs and Crime (UNOD...
4,1,"Total, all countries or areas",2005,Percentage of male and female intentional homi...,2.4,NaN,United Nations Office on Drugs and Crime (UNOD...
5,1,"Total, all countries or areas",2010,"Intentional homicide rates per 100,000",6.0,Estimate.,United Nations Office on Drugs and Crime (UNOD...
6,1,"Total, all countries or areas",2010,Percentage of male and female intentional homi...,9.6,NaN,United Nations Office on Drugs and Crime (UNOD...

In [11]:
df_crimes.shape

(3741, 7)

In [12]:
df_crimes.dtypes

Region/Country/Area    object
Nan                    object
Year                   object
Series                 object
Value                  object
Footnotes              object
Source                 object
dtype: object

In [13]:
%matplotlib inline
import matplotlib